/* Aplicando fuente al texto en todo el <body> */
body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Estilo aplicado para la cabecera del contenido */
.cabecera {
  background-color: black;
  color: white;
}

h1 {
  font-weight: bold;
  text-align: center;
  font-size: 200%;
  padding: 3% 0% 3% 0%;
}

/* Alineación, medida y padding para el área de navegación */
nav {
  text-align: center;
  font-size: 80%;
  padding: 1% 0% 1% 0%;
}

/* Aplicación de padding para dar espacio entre las opciones de menú */
span {
  padding: 0% 2% 0% 2%;
}

/* Estilo para la etiqueta <h2> */
h2 {
  font-weight: bold;
  padding: 3% 0% 0% 0%;
  font-size: larger;
}

/* Estilo para el texto de las etiquetas <p> */
p {
  padding: 3% 0% 0% 0%;
}
